<% include header.html %>
<div class="form-group col-sm-6 col-sm-offset-3">
    <label>Name:</label><input id="name" class="form-control" name="name" type="text"/>
    <label>Email:</label><input id="email" class="form-control" name="email" type="email"/>
    <label>Message:</label><textarea id="message" class="form-control" rows="5" name="message" placeholder="Wirte your feedback here.." type="text"></textarea><br>
    <button class="btn btn-success" type="button" id="feedback-btn">Send</button>
</div>
<% include footer.html %>
